<h1>BBC Headline Scraper</h1>
     
      
      <div id="articles">
             <h3>Articles</h3>
             <hr>
           {{#each articles}}
                <a href={{link}} target="_blank">{{title}}</a> 
  
                {{#if saved}}
                
                <a data-id={{_id}} class="saved">Unsave</a>
                
                {{else}}
                <a data-id={{_id}} class="notSaved">Save</a>

                {{/if}}

            </div>
          {{/each}}

      </div>
      <div id="notes">
          <h3>Notes</h3>
          <hr>
      </div>
    <button id="scrape">Scrape BBC Articles</button>
      <button id="saved">View Saved Articles</button>